$white: #ffffff;
$black: #000000;
$blue-gray: #f1f6fc;
$green: #0f805d;
$green-hover: #7bdb0a;
$green-active: rgb(#0f805d, 0.5);
$purple: #6a107a;
$purple-hover: #b22ec8;
$purple-active: rgb($purple, 0.6);
$gray-disabled: rgb(#8e9892, 0.7);
$red-error: #ff8282;

$desktop-width: 1240px;
$tablet-width: 768px;
$mobile-width-max: 767px;
$mobile-width-min: 320px;
