.benefits {
  width: 208px;
  padding: 0;

  font-size: 16px;
  text-align: left;
  list-style-type: none;

  @include media("tablet") {
    width: 90%;

    font-size: 18px;
    line-height: 22px;
  }
}

.benefits__item {
  position: relative;
  margin-bottom: 19px;
  padding-left: 44px;

  &::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;

    display: block;
    width: 32px;
    height: 32px;

    content: "";
  }

  &--leaf::before {
    background-image: url("../icons/stack.svg#leaf");
  }

  &--snowflake::before {
    background-image: url("../icons/stack.svg#snowflake");
  }

  &--moped::before {
    background-image: url("../icons/stack.svg#moped");
  }

  @include media("tablet") {
    margin-bottom: 24px;
  }
}
