.button {
  display: inline-block;
  padding: 15px 20px 16px;

  font-size: 20px;
  color: #fbfcfe;
  text-align: center;
  letter-spacing: 1px;
  overflow-wrap: break-word;

  background-color: $purple;
  border-radius: 40px;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $purple-hover;
  }

  &:focus {
    outline: 2px solid $black;
  }

  &:active {
    background-color: $purple-active;
  }
}
