.button {
  display: inline-block;
  padding: 14px 20px;

  font-size: 20px;
  color: #fbfcfe;
  text-align: center;
  overflow-wrap: break-word;

  background-color: $purple;
  border-radius: 40px;

  &:hover,
  &:focus {
    background-color: $purple-hover;
  }

  &:focus {
    outline: 2px solid $black;
  }

  &:active {
    background-color: $purple-active;
  }
}
