.catalog {
  width: $mobile-width-min;
  padding: 60px 26px;

  @include media("tablet") {
    width: 586px;
    padding: 102px 0;
  }

  @include media("desktop") {
    width: 840px;
  }

  @media (min-width: 1440px) {
    width: 1132px;
  }
}

.catalog__list {
  display: grid;
  gap: 24px;

  margin: 0;
  margin-top: 71px;
  padding: 0;

  list-style-type: none;

  @include media("tablet") {
    grid-template-columns: repeat(2, 1fr);
    gap: 52px 45px;

    margin-top: 72px;
  }

  @include media("desktop") {
    grid-template-columns: repeat(3, 1fr);
    gap: 52px 22px;
    margin-top: 92px;
  }

  @media (min-width: 1440px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.catalog__item {
  box-shadow: 0 4px 4px 0 rgb(#580D65, 0.15);
}
