.contacts {
  position: relative;
  padding: 104px 0 60px;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    display: block;
    width: 228px;
    height: 32px;
    margin: 0 auto;

    background-image: url("../icons/stack.svg#branch-2");
    content: "";
  }

  @include media("tablet") {
    padding: 114px 0 100px;

    &::before {
      width: 296px;
      height: 42px;
    }
  }

  @include media("desktop") {
    display: flex;
    width: 1124px;
    margin: 0 auto;
    padding-top: 142px;
  }
}

.contacts__container {
  width: $mobile-width-min;
  margin: 0 auto;
  padding: 0 28px 24px;

  @include media("tablet") {
    width: $tablet-width;
    padding: 0 188px 46px 180px;
  }

  @include media("desktop") {
    width: 551px;
    padding: 0;
  }
}

.contacts__title {
  margin-top: 70px;
  margin-bottom: 34px;

  font-size: 16px;
  text-align: center;

  @include media("tablet") {
    margin-top: 72px;
    margin-bottom: 20px;

    font-size: 20px;
    text-align: left;
  }

  @include media("desktop") {
    margin-left: 110px;
  }
}

.contacts__data {
  font-style: normal;

  @include media("desktop") {
    margin-left: 110px;
  }
}

.contacts__item {
  position: relative;
  display: block;
  margin: 0;
  margin-bottom: 20px;
  padding-left: 36px;

  color: $black;

  &--email {
    margin-bottom: 0;
  }

  &::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;

    display: block;
    width: 32px;
    height: 32px;

    content: "";
  }

  &--address::before {
    background-image: url("../icons/stack.svg#leaf-position");
  }

  &--phone::before {
    background-image: url("../icons/stack.svg#phone");
  }

  &--email::before {
    background-image: url("../icons/stack.svg#email");
  }
}

a.contacts__item:hover,
a.contacts__item:focus {
  color: $green-hover;
  outline: none;
}

a.contacts__item:active {
  color: $green-active;
}

@include media("desktop") {
  .contacts__map {
    display: block;
    width: 552px;
    margin-right: auto;
    order: -1;
  }
}
