.copyright {
  display: flex;
  align-items: center;
  gap: 8px;
}

.copyright__name {
  font-size: 11px;
  color: $black;

  @include media("tablet") {
    font-size: 16px;
  }
}

.copyright__logo {
  height: 32px;
}
