.field-group {
  position: relative;
  display: flex;
  flex-direction: column;

  &--address {
    min-height: 112px;
  }

  &--notes {
    min-height: 148px;
  }

  @include media ("tablet") {
    &--name {
      grid-area: name;
    }

    &--phone {
      grid-area: phone;
    }

    &--email {
      grid-area: email;
    }

    &--address {
      grid-area: address;
      min-height: 76px;
    }

    &--notes {
      grid-area: notes;
      min-height: 168px;
    }
  }

  &__error-text {
    position: absolute;
    bottom: -25px;

    display: none;
    padding-left: 13px;

    color: $red-error;
  }
}

.field-group__label {
  margin-bottom: 6px;
  margin-left: 12px;
  font-size: 14px;

  @include media ("tablet") {
    font-size: 16px;
    line-height: 20px;
  }
}

.field-group__label span {
  display: inline-block;
  margin-left: 4px;

  font-size: 16px;
}

.field-group__input {
  height: 100%;
  padding: 16px 12px;

  font-size: 16px;

  border: 1px solid $green;
  border-radius: 20px;
  resize: none;
  cursor: pointer;

  &::placeholder {
    font-size: 16px;
    color: $gray-disabled;
  }

  &:hover {
    border-color: $green-hover;
  }

  &:disabled {
    background-color: transparent;
    border-color: $gray-disabled;
    cursor: auto;
  }

  &:user-invalid:focus {
    border-color: $red-error;
  }

  &:user-invalid + .field-group__error-text {
    display: block;
  }

  &:focus {
    border-color: $green-hover;
    outline: none;
  }
}
