.form-group {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;

  font-size: 16px;
  border: none;

  @include media("tablet") {
    font-size: 18px;
    line-height: 22px;

    &:first-child {
      margin-bottom: 50px;
    }

    &:nth-child(2) {
      margin-bottom: 48px;
    }

    &:nth-child(3) {
      margin-bottom: 45px;
    }
  }

  @include media("desktop") {
    &:first-child {
      margin-bottom: 57px;
    }

    &:nth-child(3) {
      margin-bottom: 46px;
    }
  }
}

.form-group__title {
  margin-bottom: 32px;

  font-size: 20px;
  color: $green;

  @include media("tablet") {
    margin-bottom: 40px;

    font-size: 28px;
  }

  @include media("desktop") {
    margin-bottom: 48px;
  }
}

.form-group__list {
  margin: 0;
  padding: 0;
  break-inside: avoid;

  list-style-type: none;

  @include media("mobile") {
    &--berries {
      columns: 2;
      column-gap: 20px;

      & .form-group__item {
        margin-bottom: 30px;
      }

      &::after {
        content: "!";
        display: block;
        padding-block: 5px;
        visibility: hidden;
      }
    }

    &--storage {
      & .form-group__item {
        margin-bottom: 20px;
      }
    }

    &--delivery {
      & .form-group__item {
        margin-bottom: 22px;
      }
    }

    &--contacts {
      display: grid;
      row-gap: 36px;
    }
  }

  @include media("tablet") {
    &--berries {
      columns: 3;
      column-gap: 66px;

      & .form-group__item {
        margin-bottom: 20px;
      }
    }

    &--storage {
      columns: 2;
      column-gap: 54px;

      & .form-group__item {
        width: max-content;
        margin-bottom: 20px;
      }
    }

    &--delivery {
      display: grid;
      grid-template-columns: 205px 255px;
      gap: 24px;
    }

    &--contacts {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "name ."
        "phone email"
        "address address"
        "notes notes";
      row-gap: 36px;
      column-gap: 24px;

      width: 624px;
    }
  }

  @include media("desktop") {
    &--berries {
      columns: 5;
      column-gap: 48px;
    }

    &--storage {
      display: grid;
      grid-template-columns: repeat(3, min-content);
      gap: 48px;

      & .form-group__item {
        margin-bottom: 0;
      }
    }

    &--delivery {
      grid-template-columns: 251px 354px;
      gap: 48px;

      & br:last-child {
        display: none;
      }
    }
  }
}

.form-group__item {
  padding-block: 5px;
  padding-left: 36px;
}
