.form-group {
  margin: 0;
  padding: 0;

  font-size: 16px;
  border: none;

  &:first-child {
    margin-bottom: 28px;
  }

  &:nth-child(2) {
    margin-bottom: 11px;

    & .form-group__title {
      margin-bottom: 27px;
    }
  }

  @include media("tablet") {
    font-size: 18px;
    line-height: 22px;

    &:first-child {
      margin-bottom: 50px;
    }

    &:nth-child(2) {
      margin-bottom: 48px;

      & .form-group__title {
        margin-bottom: 42px;
      }
    }

    &:nth-child(3) {
      margin-bottom: 45px;
    }
  }

  @include media("desktop") {
    &:first-child {
      margin-bottom: 40px;
    }

    &:nth-child(2) {
      margin-bottom: 33px;

      & .form-group__title {
        margin-bottom: 50px;
      }
    }

    &:nth-child(3) {
      margin-bottom: 46px;
    }
  }
}

.form-group__title {
  margin-bottom: 28px;

  font-size: 20px;
  color: $green;

  &--contacts {
    margin-bottom: 29px;
  }

  @include media("tablet") {
    margin-bottom: 40px;

    font-size: 28px;

    &--contacts {
      text-align: center;
    }
  }

  @include media("desktop") {
    margin-bottom: 49px;

    &--contacts {
      text-align: left;
    }
  }
}

.form-group__list {
  margin: 0;
  padding: 0;
  break-inside: avoid;

  list-style-type: none;

  @include media("mobile") {
    &--berries {
      columns: 2;
      column-gap: 20px;

      & .form-group__item {
        margin-bottom: 27px;
      }

      &::after {
        content: "!";
        display: block;
        padding-block: 5px;
        visibility: hidden;
      }
    }

    &--storage {
      & .form-group__item {
        margin-bottom: 18px;
      }
    }

    &--delivery {
      & .form-group__item {
        margin-bottom: 22px;
      }
    }

    &--contacts {
      display: grid;
      row-gap: 34px;
    }
  }

  @include media("tablet") {
    &--berries {
      columns: 3;
      column-gap: 51px;

      & .form-group__item {
        margin-bottom: 17px;
      }
    }

    &--storage {
      columns: 2;
      column-gap: 53px;

      & .form-group__item {
        min-width: 224px;
        margin-bottom: 16px;
      }
    }

    &--delivery {
      display: grid;
      grid-template-columns: 205px 255px;
      gap: 24px;
    }

    &--contacts {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "name    ."
        "phone   email"
        "address address"
        "notes   notes";
      align-items: start;
      gap: 36px 24px;

      width: 624px;
    }
  }

  @include media("desktop") {
    &--berries {
      columns: 5;
      column-gap: 32px;

      .form-group__item {
        width: fit-content;
      }
    }

    &--storage {
      display: grid;
      grid-template-columns: 157px 224px 166px;
      gap: 48px;
    }

    &--delivery {
      grid-template-columns: 251px 354px;
      gap: 48px;
    }

    &--contacts {
      row-gap: 35px;
    }
  }
}

.form-group__item {
  padding-block: 5px;
  padding-left: 36px;

  @include media("desktop") {
    &:first-child br:last-child {
      display: none;
    }
  }
}
