.logo {
  display: flex;
  align-items: center;
  gap: 8px;

  &:focus {
    outline: none;
  }

  &[href]:hover .logo__word,
  &[href]:hover .logo__leaf,
  &[href]:focus .logo__word,
  &[href]:focus .logo__leaf {
    fill: $green-hover;
  }

  &[href]:active .logo__word,
  &[href]:active .logo__leaf {
    fill: $green-active;
  }
}

.logo__word {
  display: none;

  @include media("tablet") {
    display: block;
  }
}

@include media("mobile") {
  .page-header__container--nojs .logo__word {
    display: inline;
  }
}

@include media("tablet") {
  .logo__img {
    width: 60px;
    height: 60px;
  }
}
