.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo__word {
  display: none;

  @include media("tablet") {
    display: block;
  }
}

@include media("mobile") {
  .page-header__container--nojs .logo__word {
    display: inline;
  }
}
