.nav {
  min-height: 360px;
  padding: 27px 40px;

  font-size: 20px;
  background-color: $blue-gray;

  @include media("mobile") {
    position: absolute;
    width: 100%;
    margin-top: 5px;
  }
}

@include media("mobile") {
  .page-header__container--nojs .nav {
    position: static;
  }
}

.nav__list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.nav__link {
  color: #000000;
}
