.order-section {
  width: $mobile-width-min;
  padding: 50px 26px 89px;

  @include media("tablet") {
    width: 624px;
    padding: 81px 0 100px;

    & > .order-form > .form-group {
      margin-bottom: 40px;
    }
  }

  @include media("desktop") {
    width: 792px;
    padding-top: 67px;

    & > .order-form > .form-group {
      margin-bottom: 48px;
    }
  }
}

.order-section__container {
  margin-bottom: 5px;

  @include media ("tablet") {
    width: 485px;
    margin: 0 auto;
  }

  @include media("desktop") {
    width: 792px;
  }
}
