.page-footer {
  background-color: $blue-gray;
}

.page-footer__container {
  display: grid;
  grid-template-columns: 52px 1fr;
  justify-content: end;
  row-gap: 4px;

  width: $mobile-width-min;
  margin: 0 auto;
  padding: 19px 26px 20px;

  @include media("tablet") {
    grid-template-columns: 135px 1fr 154px;
    column-gap: 20px;
    width: $tablet-width;
    padding: 19px 26px 22px 20px;

    &--order {
      padding: 17px 26px 22px 20px;
    }
  }

  @include media("desktop") {
    width: 1124px;
    padding-inline: 0;

    & .logo {
      padding-top: 4px;
    }
  }
}

.page-footer__socials {
  margin-left: auto;

  @include media("tablet") {
    justify-self: center;
    margin-left: 0;
  }
}

.page-footer__copyright {
  grid-column: 2 / 3;
  margin-left: auto;

  @include media("tablet") {
    grid-column: auto;
    padding-top: 8px;
  }

  @include media("desktop") {
    padding-top: 10px;
  }
}
