.page-header {
  position: relative;
  background-color: $blue-gray;
  box-shadow: 0 4px 4px rgb(#580d65, 0.25);
  z-index: 10;
}

.page-header__container {
  position: relative;
  width: $mobile-width-min;
  margin: 0 auto;

  @include media("tablet") {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 716px;
    padding-block: 18px;
  }

  @include media("desktop") {
    width: 1128px;
    padding: 20px 36px;
    padding-left: 0;
  }

  &--closed .page-header__toggler::before {
    content: "";
    display: block;
    width: 45px;
    height: 5px;
    margin-top: 15px;

    background-color: $green;
    border-radius: 5px;
    box-shadow:
      0 12.5px $green,
      0 25px $green;
  }

  &--closed .page-header__toggler:hover::before,
  &--closed .page-header__toggler:focus::before {
    background-color: $green-hover;

    box-shadow:
      0 12.5px $green-hover,
      0 25px $green-hover;
  }

  &--opened .page-header__toggler {
    width: 47px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 28px;

      display: block;
      width: 35px;
      height: 5px;

      background-color: rgb($green, 0.75);
      border-radius: 5px;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:hover::before,
    &:hover::after,
    &:focus::before,
    &:focus::after {
      background-color: $green-hover;
    }
  }
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 4px;
  padding-inline: 26px 21px;

  @include media("tablet") {
    padding-inline: 0;
  }
}

.page-header__toggler {
  position: relative;
  display: flex;
  justify-content: center;
  width: 60px;
  height: 60px;
  padding: 0;

  background-color: transparent;
  border: none;

  @include media("tablet") {
    display: none;
  }
}

@include media("mobile") {
  .page-header__container--nojs .page-header__toggler {
    display: none;
  }
}
